// Toaster colors
$toaster-success-color: #3c763d;
$toaster-success-background-color: #dff0d8;
$toaster-success-border-color: #dff0d8;

$toaster-info-color: #31708f;
$toaster-info-background-color: #d9edf7;
$toaster-info-border-color: #bce8f1;

$toaster-warning-color: #8a6d3b;
$toaster-warning-background-color: #fcf8e3;
$toaster-warning-border-color: #faebcc;

$toaster-error-color: #a94442;
$toaster-error-background-color: #f2dede;
$toaster-error-border-color: #ebccd1;

$toaster-padding: 15px;
$toaster-margin-bottom: 20px;
$toaster-border-width: 1px;
$toaster-border-radius: 4px;
$toaster-width: 450px;
$default-toaster-shadow-color: #ccc;
